<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onlinefreelaceapp">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Common.BuyerRequestSuccessful"></activity>
        <activity android:name=".Common.AccountCreateSuccessfully" />
        <activity android:name=".Common.PostRequestUpdatePage" />
        <activity android:name=".Common.PostARequestHome" />
        <activity android:name=".Common.BuyerRequestSendOffer" />
        <activity android:name=".Common.RequestPostUserView" />
        <activity android:name=".Common.PostRequestPageTwo" />
        <activity android:name=".Common.PostRequest" />
        <activity android:name=".PostARequest.post_request" />
        <activity android:name=".Common.LoginSignup.SignUpPageTwo" />
        <activity android:name=".Common.LoginSignup.SignUp" />
        <activity android:name=".Common.LoginSignup.Login" />
        <activity android:name=".Common.LoginSignup.RetailerStartUpScreen" />
        <activity android:name=".Common.OnBoarding" />
        <activity android:name=".User.UserDashboard" />
        <activity android:name=".Common.OnLine">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>